/* style.css
 * This file provides css styles.
 */

body,html {
	width : 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #ffffff;
}

.welcome-message {
	padding-top: 25px;
	margin-top: 0;
	text-align: center;
	font-size: 60px;
}

.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
    margin-bottom: 60px;
}
  
.card {
	opacity: .9;
    background-color: #d3dcde;
    color: #000000;
    border-radius: 7px;
    margin: 10px;
    text-align: center;
    width: 275px;
}

.card p {
	font-style: italic;
}

.stamp {
	position: relative;
    left: 0;
    top: 0;
    padding: 5px;
}

.stamp-border {
	width: 100px;
	height: 120px;
}

.stamp-pic {
	width: 80px;
	height: 100px;
	position: absolute;
    top: 15px;
    left: 15px;
}  

.create-button {
	opacity: .9;
	background-color: #ECF0F1;
	text-align: center;
	border-radius: 10px;
	font-size: x-large;
	outline: none;
}

.create-div {
	position: fixed;
	bottom: 10px;
	left: 10px;
}

.delete-button {
	opacity: .9;
	background-color: #ECF0F1;
	text-align: center;
	border-radius: 10px;
	font-size: x-large;
	outline: none;
}

.delete-div {
	position: fixed;
	bottom: 10px;
	right: 10px;
}
