/* style.css
 * This file provides css styles.
 */

body,html {
	background-image: url("../background-image.jpg");
	background-size: 100% 100%;
    background-repeat: no-repeat;
	background-color: #3b4b54; width : 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #ffffff;
}

td {
    padding: 5px;
}

.welcome-message {
	text-align: center;
	font-size: 60px;
}

.container {
	display: flex;
	flex-flow: row wrap;
    justify-content: space-around;
}
  
.card {
    background-color: #d3dcde;
    color: #000000;
    width: 450px;
    height: 155px;
    border-radius: 7px;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

/*used http://thecodeplayer.com/walkthrough/css3-stamp*/
.stamp {
	padding: 10px;
	
	/*The stamp cutout will be created using crisp radial gradients*/
	background: radial-gradient(
	transparent 0px, 
	transparent 4px, 
	white 4px,
	white
	);
	
	/*reducing the gradient size*/
	background-size: 20px 20px;
	
	/*Offset to move the holes to the edge*/
	background-position: -10px -10px;
}

.stamp img {
	width: 100px;
	height: 120px;
}  

.create-button {                                                                                   
	background-color: #ECF0F1;
	height: 100px;
	width: 100px;
	text-align: center;
	border-radius: 20px;
	font-size: xx-large;
}

.create-div {
	position: fixed;
	bottom: 10px;
	left: 10px;
}
