/* style.css
 * This file provides css styles.
 */

body,html {
	width : 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #ffffff;
}

td {
    padding: 5px;
}

.welcome-message {
	padding-top: 25px;
	margin-top: 0;
	text-align: center;
	font-size: 60px;
}

.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
    margin-bottom: 60px;
}
  
.card {
    background-color: #d3dcde;
    color: #000000;
    border-radius: 7px;
    margin: 10px;
    text-align: center;
    width: 275px;
}

.card p {
	font-style: italic;
}

/*used http://thecodeplayer.com/walkthrough/css3-stamp*/
.stamp {
	padding: 10px;
	
	/*The stamp cutout will be created using crisp radial gradients*/
	background: radial-gradient(
	transparent 0px, 
	transparent 4px, 
	white 4px,
	white
	);
	
	/*reducing the gradient size*/
	background-size: 20px 20px;
	
	/*Offset to move the holes to the edge*/
	background-position: -10px -10px;
}

.stamp img {
	width: 80px;
	height: 97px;
}  

.create-button {                                                                                   
	background-color: #ECF0F1;
	text-align: center;
	border-radius: 10px;
	font-size: x-large;
	outline: none;
}

.create-div {
	position: fixed;
	bottom: 10px;
	left: 10px;
}

.delete-button {                                                                                   
	background-color: #ECF0F1;
	text-align: center;
	border-radius: 10px;
	font-size: x-large;
	outline: none;
}

.delete-div {
	position: fixed;
	bottom: 10px;
	right: 10px;
}
