/*-------------------------------------------------------------------*/
/*                                                                   */
/* Copyright IBM Corp. 2016 All Rights Reserved                      */
/*                                                                   */
/*-------------------------------------------------------------------*/
/*                                                                   */
/*        NOTICE TO USERS OF THE SOURCE CODE EXAMPLES                */
/*                                                                   */
/* The source code examples provided by IBM are only intended to     */
/* assist in the development of a working software program.          */
/*                                                                   */
/* International Business Machines Corporation provides the source   */
/* code examples, both individually and as one or more groups,       */
/* "as is" without warranty of any kind, either expressed or         */
/* implied, including, but not limited to the warranty of            */
/* non-infringement and the implied warranties of merchantability    */
/* and fitness for a particular purpose. The entire risk             */
/* as to the quality and performance of the source code              */
/* examples, both individually and as one or more groups, is with    */
/* you. Should any part of the source code examples prove defective, */
/* you (and not IBM or an authorized dealer) assume the entire cost  */
/* of all necessary servicing, repair or correction.                 */
/*                                                                   */
/* IBM does not warrant that the contents of the source code         */
/* examples, whether individually or as one or more groups, will     */
/* meet your requirements or that the source code examples are       */
/* error-free.                                                       */
/*                                                                   */
/* IBM may make improvements and/or changes in the source code       */
/* examples at any time.                                             */
/*                                                                   */
/* Changes may be made periodically to the information in the        */
/* source code examples; these changes may be reported, for the      */
/* sample code included herein, in new editions of the examples.     */
/*                                                                   */
/* References in the source code examples to IBM products, programs, */
/* or services do not imply that IBM intends to make these           */
/* available in all countries in which IBM operates. Any reference   */
/* to the IBM licensed program in the source code examples is not    */
/* intended to state or imply that IBM's licensed program must be    */
/* used. Any functionally equivalent program may be used.            */
/*-------------------------------------------------------------------*/

/* style.css
 * This file provides css styles.
 */

body,html {
	width : 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #ffffff;
}

.welcome-message {
	padding-top: 25px;
	margin-top: 0;
	text-align: center;
	font-size: 60px;
}

.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
    margin-bottom: 60px;
}
  
.card {
	opacity: .9;
    background-color: #d3dcde;
    color: #000000;
    border-radius: 7px;
    margin: 10px;
    text-align: center;
    width: 275px;
}

.card p {
	font-style: italic;
}

.stamp {
	position: relative;
    left: 0;
    top: 0;
    padding: 5px;
}

.stamp-border {
	width: 100px;
	height: 120px;
}

.stamp-pic {
	width: 80px;
	height: 100px;
	position: absolute;
    top: 15px;
    left: 15px;
}  

.create-button {
	opacity: .9;
	background-color: #ECF0F1;
	text-align: center;
	border-radius: 10px;
	font-size: x-large;
	outline: none;
}

.create-div {
	position: fixed;
	bottom: 10px;
	left: 10px;
}

.delete-button {
	opacity: .9;
	background-color: #ECF0F1;
	text-align: center;
	border-radius: 10px;
	font-size: x-large;
	outline: none;
}

.delete-div {
	position: fixed;
	bottom: 10px;
	right: 10px;
}
