<!DOCTYPE html>
<html>

  <head>
    <title>multi-region Application</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>

<body>
	<div>
		<h1 class="welcome-message">Welcome  to {{region}}!</h1>
	</div>
	<div class="container">
  		{{{yield}}}
  	</div>
	<div class="create-div">
    	<form method="post" action="/">
        	<button class="create-button" type="submit">+</button>
        </form>
   	</div>
</body>

</html>