<!DOCTYPE html>
<html>

  	<head>
	    <title>Bluemix Postcards</title>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" href="stylesheets/style.css">
  	</head>
  	<!--used https://css-tricks.com/perfect-full-page-background-image/ for background styling-->
  	<!--
		Background images can be found at the Wikimedia Commons urls below:
		
		Dallas-day(https://commons.wikimedia.org/wiki/Dallas,_Texas#/media/File:Dallas_Downtown.jpg) 					- CC BY-SA 2.0
		Dallas-night(https://commons.wikimedia.org/wiki/File:Dallas_at_Night_from_South.jpg) 							- CC BY 3.0
		Dallas-dusk(https://commons.wikimedia.org/wiki/File:Dallas_skyline.jpg) 										- CC BY-SA 2.0	
		London-day(https://commons.wikimedia.org/wiki/London#/media/File:London_Skyline.jpg) 							- CC BY-SA 3.0
		London-night(https://commons.wikimedia.org/wiki/London#/media/File:PalaceOfWestminsterAtNight.jpg) 				- CC BY-SA 2.0
		London-dusk(https://commons.wikimedia.org/wiki/London#/media/File:London_Thames_Sunset_panorama_-_Feb_2008.jpg)	- CC BY 3.0
		Sydney-day(https://commons.wikimedia.org/wiki/Sydney#/media/File:S%C3%ADdney-Australia30.JPG) 					- CC BY-SA 3.0
		Sydney-night(https://commons.wikimedia.org/wiki/File:Sydney,_Australia.jpg)										- CC BY 2.0
		Sydney-dusk(https://commons.wikimedia.org/wiki/Sydney#/media/File:Sydney_skyline_at_dusk_-_Dec_2008.jpg)		- CC BY-SA 3.0
		
		The images use the following Creative Commons Licensing:
		
		CC BY 2.0 		- https://creativecommons.org/licenses/by/2.0
		CC BY-SA 2.0 	- https://creativecommons.org/licenses/by-sa/2.0
		CC BY 3.0 		- https://creativecommons.org/licenses/by/3.0
		CC BY-SA 3.0 	- https://creativecommons.org/licenses/by-sa/3.0
	-->
	<body style="background: url({{background}}) no-repeat center center fixed; background-size: cover;">
		<div>
			<h1 class="welcome-message">Welcome to {{region}}</h1>
		</div>
		<div class="container">
	  		{{{yield}}}
	  	</div>
		<div class="create-div">
	    	<form method="post" action="/add">
	        	<button class="create-button" type="submit">Leave a card</button>
	        </form>
	   	</div>
	   	<div class="delete-div">
	    	<form method="post" action="/delete">
	        	<button class="delete-button" type="submit">Clear all cards</button>
	        </form>
	   	</div>
	</body>

</html>