{{#cards}}
<div class="card">
	<table>
		<tr>
			<td>
				<div class="stamp">
					<img class="stamp-border" src='./images/stamp-outline.png'/>
					<!--
					    Stamp images are from lorempixel.com under the Creative Commons BY-SA License: http://creativecommons.org/licenses/
              If image could not be retrieved at the time of creation, a default image is used instead:

              Dallas-stamp(https://commons.wikimedia.org/wiki/File:The_Margaret_Hunt_Hill_Bridge.02.jpg) 				- CC BY 2.0
              London-stamp(https://commons.wikimedia.org/wiki/London#/media/File:Bigben.jpg) 										- CC BY-SA 3.0
              Sydney-stamp(https://commons.wikimedia.org/wiki/Sydney_Opera_House#/media/File:Sydney_opera_house_side_view.jpg) 	- CC BY-SA 3.0

              The images use the following Creative Commons Licensing:

              CC BY 2.0 		- https://creativecommons.org/licenses/by/2.0
              CC BY-SA 3.0 	- https://creativecommons.org/licenses/by-sa/3.0
					-->
					<img class="stamp-pic" src='http://{{account}}.cloudant.com/postcards/{{_id}}/stamp.jpeg'/>
				</div>
			</td>
			<td>
				<h2>Hello from {{region}}!</h2>
				<p>{{time}}</p>
			</td>
		</tr>
	</table>
</div>
{{/cards}}
